@import "../../../../variables";
@import "../../../../mixins";

.trip {
  width: 100%;
  background-color: $background-color-dark;
  border-radius: 32px;
  display: flex;

  &__pic {
    &--picture {
      object-fit: cover;
    }
  }

  &-info {
    .trip__top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--name {
        font-weight: 600;
        color: $text-color-dark;
        margin: 0;
        display: block;
        text-transform: uppercase;
      }

      &--date {
        font-weight: 600;
        color: $green;
        margin: 0;
        display: block;
      }
    }

    .trip__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-block {
        display: grid;
        grid-template-columns: auto auto;

        &-part1 {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &--members {
            display: flex;
            align-items: center;

            &--text {
              color: $text-color-dark;
              margin: 0;
            }
          }

          &--status {
            display: flex;
            align-items: center;

            &--text {
              color: $text-color-dark;
              margin: 0;
            }
          }
        }

        &-part2 {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &--route {
            display: flex;
            align-items: center;

            &--text {
              color: $text-color-dark;
              margin: 0;
              max-width: 350px;
              overflow: hidden;
              max-height: 60px;
            }
          }

          &--additional {
            display: flex;
            align-items: center;

            &--text {
              color: $text-color-dark;
              margin: 0;
            }
          }
        }
      }

      &--button {
        @include button-style;
      }
    }
  }
}

@media (min-width: 1199px) {
  .trip {
    grid-column: 3/-3;
    flex-direction: row;
    height: 200px;

    &__pic {
      height: 200px;
      width: 250px;

      &--picture {
        height: 100%;
        width: 100%;
        border-radius: 32px 0px 0px 32px;
      }
    }

    &-info {
      padding: 20px;
      width: 100%;

      .trip__top {
        width: 100%;

        &--name {
          font-size: 25px;
          line-height: 24px;
        }

        &--date {
          font-size: 21px;
          line-height: 24px;
        }
      }

      .trip__bottom {
        margin-top: 40px;

        &-block {
          gap: 20px;

          &-part1 {
            gap: 15px;

            &--members {
              gap: 6px;
            }

            &--status {
              gap: 6px;
            }
          }

          &-part2 {
            gap: 15px;

            &--route {
              gap: 6px;
            }

            &--addtional {
              gap: 6px;
            }
          }
        }
        &--button {
          width: 230px;
        }
      }
    }
  }
}

@media (max-width: 1199px) and (min-width: 639px) {
  .trip {
    grid-column: 1/-1;
    flex-direction: row;
    height: 200px;

    &__pic {
      height: 200px;
      width: 250px;

      &--picture {
        height: 100%;
        width: 100%;
        border-radius: 32px 0px 0px 32px;
      }
    }

    &-info {
      padding: 10px;
      width: 100%;

      .trip__top {
        width: 100%;

        &--name {
          font-size: 20px;
          line-height: 22px;
        }

        &--date {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .trip__bottom {
        margin-top: 20px;

        &-block {
          gap: 20px;

          &-part1 {
            gap: 15px;

            &--members {
              gap: 6px;
            }

            &--status {
              gap: 6px;
            }
          }

          &-part2 {
            gap: 15px;

            &--route {
              gap: 6px;
            }

            &--addtional {
              gap: 6px;
            }
          }
        }
        &--button {
          width: 230px;
        }
      }
    }
  }
}

@media (max-width: 639px) {
  .trip {
    grid-column: 1/-1;
    flex-direction: column;

    &__pic {
      height: 200px;
      width: 100%;

      &--picture {
        height: 100%;
        width: 100%;
        border-radius: 32px 32px 0px 0px;
      }
    }

    &-info {
      padding: 10px;
      width: calc(100% - 20px);

      .trip__top {
        width: 100%;

        &--name {
          font-size: 20px;
          line-height: 22px;
        }

        &--date {
          font-size: 18px;
          line-height: 24px;
        }
      }

      .trip__bottom {
        margin-top: 20px;
        flex-direction: column;
        gap: 30px;

        &-block {
          gap: 20px;

          &-part1 {
            justify-content: space-between;

            &--members {
              gap: 6px;
            }

            &--status {
              gap: 6px;
            }
          }

          &-part2 {
            gap: 15px;

            &--route {
              gap: 6px;
            }

            &--addtional {
              gap: 6px;
            }
          }
        }
        &--button {
          width: 70%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
